@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 540px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#name{
    font-size: large;
}
#introduction{
    font-size: small;
    font-weight: 400;
    line-height: 18px;
}
#name, #introduction{
    margin-bottom: 25px;
}
#linkedin_icon, #github_icon, #mail_icon{
    margin-right: 10px;
    fill: grey;
}
#linkedin_icon:hover, #github_icon:hover, #mail_icon:hover{
    fill: black;
}
/*-------------------------------------------*/

.data_section {
    width: 100%;
}
.section_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 25px;
}
.section_list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
#projects, #education, #tools{
    margin-right: 10px;
    margin-left: 0px;
    color: rgb(135, 135, 135);
    transition: color 0.5s ease;
}

#projects:hover, #education:hover, #tools:hover{
    color: rgb(0,0,0);
    font-weight: 600;
}


/*--------------------------------------------*/

.project_info{
    width: 100%;
}
.project_card{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    transition: transform 0.3s ease;
}
.project_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.project_name{
    font-size: 15px;
    font-weight: 600;
}
.project_description{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(135,135,135);
}
.tech_stack{
    font-size: small;
}
.tech_stack span::after{
    content:" /";
}
.tech_stack span:last-child::after{
    content:"";
}
.project_card:hover{
    transform: translateX(12px);
}