@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0;
    padding:0;
    background: #ffffff;
}

body{
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: normal
}


/*Logo Dimensions*/
#logo-icon{
    width:32px;
    height:32px;
    display: flex;
    float: left;;
    box-sizing: border-box;
    padding: 0%;
    margin-top: 1em;
    margin-left: 2%;
}
/*-------------------------------------------------------------------*/

/*Navbar Formatting*/

.navbar-wrapper{
    height:60px;
    box-sizing: border-box;
    display: block;
    position: relative;
    align-content: center;
}

ul{
    list-style-type:none;
}

.navbar-links{
    display: flex;
    float: right;
    box-sizing: border-box;
    padding: 0;
    margin: 1em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

li{
    display: inline;
    margin: 1dvh;
    padding:0;
}

.navbar-links a{
    display: inline-block;
    color: black;
    text-decoration: none;
    border-bottom:solid transparent 3px;
    transition:all .5s;
}
.navbar-links a:hover{
    cursor:pointer;
    border-bottom: solid rgb(0, 0, 0) 3px;
}
/*-------------------------------------------------------------------*/

/*Introduction Section*/
.introduction-section{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#welcome, #name{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#welcome{
    font-size: 15px;
}

#name{
    font-size: 80px;
}

#portfolio{
    font-size: 90px;
    font-style: italic;
}

#name, #portfolio{
    letter-spacing: -2px;
}

#intro-text{
    width:40%;
    height:30%;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 2%;
}
/*-------------------------------------------------------------------*/

/*Intro Photos*/
.intro-photos{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

#photo_1, #photo_2, #photo_3{
    width:30%;
    height:50%;
    margin: 1%;
}
/*-------------------------------------------------------------------*/

/*About me Section*/

.about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
#about-image{
    height: 100%;
}
.about-text{
    padding-left: 5%;
    width: 40%;
}
.about-text-heading{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    letter-spacing: -1px;
    margin:5%;
}
.about-text-paragraph{
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-size:22px;
    font-style: italic;
    margin:5%;
}