<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunal Ranjan - Software Developer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar-wrapper">
        <ul class="navbar-item-list">
            <li><img src='static\images\target2.png' id="logo-icon"></li>
            <li class="navbar-links"><a href="#About">About</a></li>
            <li class="navbar-links"><a href="#Github">Github</a></li>
            <li class="navbar-links"><a href="#Home">Home</a></li>
        </ul>
    </div>

    <div class="introduction-section">
        <p class="introduction-section-text" id="welcome">WELCOME TO</p>
        <h1 class="introduction-section-text" id="name">KUNAL'S</h1>
        <p class="introduction-section-text" id="portfolio">PORTFOLIO</p>
        <p class="introduction-section-text" id="intro-text">Hi there! This is my personal website where you can learn more about me, my hobbies, and how to contact me. Feel free to contact me any time. Would love to connect.</p>
    </div>

    <div class="intro-photos">
        <img src="static\images\nature-1.jpg" id="photo_1">
        <img src="static\images\nature-2.jpg" id="photo_2">
        <img src="static\images\nature-3.jpg" id="photo_3">
    </div>

    <div class="about-me">
        <div>
            <img src="static\images\nature-4.png" id="about-image">
        </div>
        <div class="about-text">
            <h3 class="about-text-heading">ABOUT ME</h3>
            <div class="about-text-paragraph">
                <p>Hi there! This is Kunal Ranjan, a budding software developer that loves people, cultures and diversity.</p>
                <p>As a software developer I love to design and create digital solution that meet current market requirements.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="my-portfolio">
        <div class="portfolio-heading">
            <h2>MY</h2>
            <h2>PORTFOLIO</h2>
        </div>
        
        <div class="portfolio-cards">
            <div class="card-section-left">
                <div class="card">
                    
                </div>
            </div>

            <div class="card-section-right">
                
            </div>
        </div>
    </div>
</body>
</html>